.header-14-sub .hero-unit h1{
	font-weight:200;
}
.header-14-sub .hero-unit > *{
	border-width: 4px;
}
/*
.crew-4{
	background-image:url("../img/social_background.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-opacity:0.4;
	background-filter:alpha(opacity=40); 
	}
*/

.crew-4 .members .info, .crew-4 .members .info b{
	color:black;
}

span.fa{
	vertical-align: middle;
}